body {
    background-color: #FEFAEF !important;
    min-height: 100vh;
}

.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;    
}

.quiz-card {
    width: 30rem;   
}

.question-footer {
    border-top: 1px solid rgba(0,0,0,0.5);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 12px;
}

